.hide{
    display: none;
}

.show{
    display: block;
}

.space-top{
    padding-top: 25px;
}

.margin{
    margin-left: 50px ;
}

.button-space{
    margin-top: 0px;
    margin-left: 10px;
}

@font-face {
    font-family: 'Avenir';
    src: url(../fonts/Avenir.ttc );
    font-weight: normal;
    font-style: normal;
}

.font{
    font-family: "Avenir"; 
    font-size: 10pt  ;
} 

.h1, h2, h3, h4, h5, h6{
    font-family: "Avenir";
}
